@import "reset.scss";
:root {
  // 系统 4K 175% 放大的情况下，1rem 等于 15px
  font-size: .8201vw;
}
body{
  overflow: hidden;
  font-family: Dutch801 Rm BT,Arial,"PingFang SC","Microsoft YaHei","微软雅黑","Hiragino Sans GB",sans-serif;
  cursor: url("@/assets/cursor.png"), auto;
  user-select: none;

  //background: url("@/assets/test.jpg");
  background-color: #14171e;
  background-size: cover;

  .interactive{
    pointer-events: auto;
  }
  #app{
    height: 100vh;
  }
}
ul,li{
  list-style: none;
}

@keyframes flash{
  10%{ opacity: 1;}
  50%{ opacity: .5;}
  90%{ opacity: 1;}
}
.slideUp-enter-active,
.slideUp-leave-active {
  transition: opacity 0.1s ease;
}
.slideUp-enter-from,
.slideUp-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}



